* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent;
}

header {
  background-color: #f8b400;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.logo-container img {
  height: 45px;
  width: auto;
  object-fit: contain;
}

.nav-menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.menu-toggle {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  background: none;
  border: 0;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}

.nav-menu a:hover {
  text-decoration: underline;
}

.user-menu {
  flex-shrink: 0;
  position: relative;
  color: white;
}

.user-menu a {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.dropdown-menu {
  min-width: 12rem;
  font-size: 1rem;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.hex-background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: 0.10;
  z-index: 0;
  pointer-events: none;
}

.button, .button-cancelar {
  width: 100%;
  padding: 12px;
  margin-bottom: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-cancelar {
  background-color: #eb0404;
}

.button-cancelar:hover {
  background-color: #eb0404;
}

@media (max-width: 768px) {
  header {
    padding: 1rem;
    gap: 0.5rem;
    display: flex;
    align-items: center;
  }

  .menu-toggle {
    display: block;
    order: 1;
    z-index: 11;
  }

  .logo-container {
    order: 2;
    margin: 0 auto;
  }

  .user-menu {
    order: 3;
    margin-left: auto;
    z-index: 11;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    position: absolute;
    top: 70px;
    right: 1rem;
    left: 1rem;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 10;
  }

  .nav-menu.show {
    display: flex;
  }

  .nav-menu a {
    font-size: 0.9rem;
    color: #1a1a1a;
  }

  .user-menu a {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .logo-container img {
    height: 40px;
  }
}
