main {
    padding: 1em;
}

.card-apiario, .card-apiario-endereco {
    border-radius: 2%;
    box-shadow: 0 2px 5px #ffde4e;
}

.info-apiario {
    display: inline-block;
    font-weight: 400; 
    color: #777777;
}

.info-value-apiario {
    display: inline-block;
    font-weight: 700; 
}

.informacoes-gerais .informacoes-colmeias p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.container-colmeia {
    display: flex;
    flex-direction: column;
    border: rgb(206, 206, 206) solid 1px;
    background-image: linear-gradient(#fffffff8, #fffefedc), url('/img/backgroundImg.png');
    background-repeat: no-repeat;
    background-position: center;    
    background-size: cover;
}

.informacoes-colmeias {
    padding-bottom: 2%;
}

.informacoes-colmeias p {
    border-bottom: rgb(206, 206, 206) solid 1px;
    text-align: center;
}

.colmeias-count {
    display: flex;
    justify-content: center;
    color: #ff7a00;
    font-size: 4em;
}

.container-botoes {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    margin-top: 1em;
}

@media screen and (max-width: 768px) {
    .informacoes-gerais, .informacoes-colmeias p {
        font-size: 1em;
        width: 100%;
    }

    .container-apiario, .container-colmeia {
        width: 100%;
    }

    .container-botoes {
        flex-direction: row;
    }

    .container-botoes .btn-editar {
        align-self: flex-end;
    }
    .container-botoes .btn-voltar {
        align-self: flex-start;
    }
}