form.pessoa-form {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0 2px 6px #f5c802;
  margin: auto;
}

.button, .button-cancelar {
  width: 100%;
  padding: 12px;
  margin-bottom: 4px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button {
  background-color: #ff7a00;
}

.button-cancelar {
  background-color: #eb0404;
}

.button:hover {
  background-color: #45a049;
}

.button-cancelar:hover {
  background-color: #eb0404;
}

@media (max-width: 768px) {
  form.pessoa-form {
    width: 100%;
    padding: 18px;
  }

  .button {
    background-color: #45a049;
  }
}
